$btnColor:#d10157;

header
{
	background: white;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	box-shadow:0 2px 6px silver;
}

header .item
{
	padding: 10px;
	text-align: left;
}

header .item button
{
	margin:10px;
}

header a
{
	color:black;
	font-weight: bold;
}
header .fa
{
	color:$btnColor;
}

@media (max-width:500px)
{
	header .item a,
	header .item:nth-child(2)
	{
		display: none;
	}
}